html {
    height: 100%;
    width: 100%;
  }
  
  
  
  /*Regola per far scopmapire oggetti HTML*/
  .hidden{
    display: none;
  }
  
  /*Regola per far apparire oggetti HTML*/
  .show{
    display: block;
  }
  
  /*Regola per la colorazione del backgroud CONFERMA*/
  .confermaColor{
    background-color: green;
  }

  #todoInput{
    width: 15rem;
  }

  .todo-container {
    text-align: center; 
  }
  
  .todo-form {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 1rem; /* Spazio tra il titolo e il form */
  }
  